@media screen and (min-width: 280px) and (max-width: 414px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    nav div {
        font-size: 20px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
    main img {
        display: block;
    }
}