@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Mulish:wght@200&display=swap');

/* GENERAL STRUCTURE */

* {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: #CAF0F8;
}

header, footer {
    font-family: 'Crimson Text', serif;
    background-color: #023E8A;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 5px 0;
    margin: 0 auto;
    border-bottom: 1px solid #023E8A;
}

/* HEADER DESIGN */

#head {
    display: flex;
    align-items: center;
    margin-left: 16px;
}
#head img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
#head section {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
#head section h1 {
    font-size: 33px;
    color: white;
}
#head section q {
    letter-spacing: 1pt;
    color: white;
    font-weight: 700;
    font-size: 12px;
}
.navigation {
    margin-left: 120px;
    display: flex;
}
.navigation li {
    display: block;
    flex: 1 1 auto;
}
.navigation a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 15px;
    text-align: center;
}
.navigation li:first-child {
    display: none;
}
.navigation a:hover {
	color: #03045E;
	background-color: #0077B6;
}
#socialMedia {
    display: flex;
    align-items: center;
    margin-left: 16px;
}
#socialMedia img {
    margin: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.date {
    color: white;
    font-family: 'Crimson Text', serif;
    background-color: #0077B6;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #023E8A;
}

.alert {
    color: white;
    font-size: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 30px;
    background-color: #0077B6;
    position: absolute;
    top: 0px;
    width: 100%;
}
.alert > button {
    width: fit-content;
    padding: 0;
    margin: 0;
}
.alert > span {
    margin: 0 100px;
}


/* MAIN SECTION */

main {
    color: white;
	display: grid;
	grid-template-columns: 25% 50% 25%; 
	padding: 7px;
	justify-content:center;
	align-items:center;
}
main h2 {
    text-align: center;
}

#overall {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#event {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#weather {
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#join {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#event img {
    width: 50px;
    height: 50px;
}
#weather img {
    width: 50px;
    height: 50px;
}
#overall h2, h3, p {
    text-align: center;
    padding: 7px 0px;
    margin: 5px 0px;
}

#secondPart {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero {
    color: black;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
    margin-bottom: 90px;
}
#hero h2 {
    position: absolute;
}
#news {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#secondPart img {
    width: 100%;
    height: 100%;
}
#secondPart h2, p {
    text-align: center;
    padding: 7px 0px;
    margin: 5px 0px;
}

#thirdPart {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#thirdPart h2, p {
    text-align: center;
    padding: 4px 0px;
    margin: 3px 0px;

}
#spotlight {
    padding: 0px 10px;
    margin: 0px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#spot1, #spot2, #spot3 {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#thirdPart img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-items: center;
    margin-top: 3px;
}

hr {
    border: 1px solid #03045E;
}

/* FOOTER DESIGN */

footer {
    color: white;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80% 20%;
}
#picture {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
}
#picture img{
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#mapLocation {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    font-size: 20px;
}
#mapLocation img{
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#final {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 17px;
}
hr{
    line-height: 100%;
}