@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Mulish:wght@200&display=swap');

/* GENERAL STRUCTURE */

* {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: #CAF0F8;
}

header, footer {
    font-family: 'Crimson Text', serif;
    background-color: #023E8A;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 5px 0;
    margin: 0 auto;
    border-bottom: 1px solid #023E8A;
}

/* HEADER DESIGN */

#head {
    display: flex;
    align-items: center;
    margin-left: 16px;
}
#head img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
#head section {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
#head section h1 {
    font-size: 33px;
    color: white;
}
#head section q {
    letter-spacing: 1pt;
    color: white;
    font-weight: 700;
    font-size: 12px;
}
.navigation {
    margin-left: 40px;
    display: flex;
}
.navigation li {
    display: block;
    flex: 1 1 auto;
}
.navigation a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 15px;
    text-align: center;
}
.navigation li:first-child {
    display: none;
}
.navigation a:hover {
	color: #03045E;
	background-color: #0077B6;
}
#socialMedia {
    display: flex;
    align-items: center;
    margin-left: 16px;
}
#socialMedia img {
    margin: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.date {
    color: white;
    font-family: 'Crimson Text', serif;
    background-color: #0077B6;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #023E8A;
}

.alert {
    color: white;
    font-size: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: nowrap;
    height: 30px;
    background-color: #3b96c75b;
    position: absolute;
    top: 0px;
    width: 100%;
}
.alert > button {
    width: fit-content;
    padding: 0;
    margin: 0;
}
.alert > span {
    margin: 0 100px;
}


/* MAIN SECTION */

main {
    color: white;
	display: grid;
	grid-template-columns: 25% 50% 25%; 
	padding: 7px;
	justify-content:center;
	align-items:center;
}
main h2 {
    text-align: center;
}

#overall {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#event {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#weather {
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#join {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#join a {
    text-decoration: none;
    color: white;
}
#event img {
    width: 50px;
    height: 50px;
}
#weather img {
    width: 65px;
    height: 50px;
}
#overall h2, h3, p {
    text-align: center;
    padding: 7px 0px;
    margin: 5px 0px;
}

#secondPart {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero {
    color: black;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
    margin-bottom: 90px;
}
#hero h2 {
    position: absolute;
}
#news {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#secondPart img {
    width: 100%;
    height: 100%;
}
#secondPart h2, p {
    text-align: center;
    padding: 7px 0px;
    margin: 5px 0px;
}

#thirdPart {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#thirdPart h2, p {
    text-align: center;
    padding: 4px 0px;
    margin: 3px 0px;

}
#spotlight {
    padding: 0px 10px;
    margin: 0px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#spot1, #spot2, #spot3 {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #0077B6;
    box-shadow: 0 0 10px #03045E;
}
#thirdPart img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-items: center;
    margin-top: 3px;
}

hr {
    border: 1px solid #03045E;
}

/* CSS STYLE DISCOVER PAGE */

#discover {
    background-color: #0077B6;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    box-shadow: 15px 15px 30px #03045E;
}
#placesPhotos picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#discover h1, #placesPhotos p {
    padding: 10px;
}

/* CSS JOIN PAGE */

#joinForm {
    background-color: #0077B6;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 25px 30px #03045E;
    border: 1px solid #023E8A;
    border-radius: 10px;
    margin: 15px 10px;
}
#joinForm label {
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
}
#joinForm input:required {
    border-bottom: #03045E solid 6px;
    border-radius: 5px;
    /* width: 410px;
    height: 30px; */
}
#joinForm input {
    border-radius: 5px;
    width: 100%;
    height: 40px;
}
#selectionMembership {
    /* background-color: #0077B6;
    grid-column: 3 / 4;*/
    display: flex;
    flex-direction: row;
    box-shadow: 15px 15px 30px #03045E;
    border: 1px solid #023E8A;
    border-radius: 10px;
    margin: 15px 10px;
    text-align: center;
}
#selectionMembership input {
    width: 100%;
    height: 25px;
}
#moreDescription {
    /* background-color: #0077B6; */
    /* grid-column: 2 / 3; */
    /* flex-direction: column; */
    box-shadow: 15px 15px 30px #03045E;
    border: 1px solid #023E8A;
    border-radius: 10px;
    text-align: center;
}
#moreDescription textarea {
    margin: 5px 5px;
}
#main, input.submitBtn {
    /* grid-column: 2 / 3; */
    border: none;
    background-color: #023E8A;
    color: white;
    border-radius: 20px;
    padding: 12px 24px;
    margin-top: 15px;
    margin-bottom: 5px;
}
/* main legend {
    font-size: large;
    background: #0077B6;
    border-radius: 22px;
    padding: 5px;
    margin-bottom: 5px;
} */

table {
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #0077B6;
    grid-column: 2 / 3;
    box-shadow: 15px 25px 30px #03045E;
    border: 2px solid #023E8A;
}
table caption {
    display: none;
}

thead tr:first-child, tr:nth-child(2) {
    background-color: #03045E;
}


th, td {
    padding: 7px 15px;
    border: 1px solid black;
}

/* DIRECTORY MAIN PAGE */

#directoryMenu {
    grid-column: 1/4;
}
#stores {
    display: grid;
    width: 100%;
    padding: 1em;
    gap: .5em;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 380px);
}
#stores > div {
    padding: 1em;
    background-color: #023E8A;
    display: flex;
    border: 1px solid black; 
    border-radius: .5em;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.buttonGroup > .buttonGroup.selected {
    transform: scale(1.1);
}
#stores img {
    padding: 20px;
}

/*List view */

#stores.listView {
    background-color: #023E8A;
    display: flex;
    flex-direction: column;
}
#stores.listView > div.card {
    position: relative;
    flex-direction: column;
    align-items:start;
    flex-wrap: wrap;
    background-color: unset;
    border: 0;
    border-radius: 0;
}
#stores.listView > div.card > div {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
#stores.listView > div.card > div:nth-child(2) {
    width: 12em;
}
#stores.listView > div.card > div:nth-child(3) {
    width: 8em;
}
#stores.listView > div.card > div:nth-child(4) {
    width: auto;
    max-width: 100%;
}
#stores.listView > div.card:nth-child(odd) {
    background-color: var(--drop-shadows);
}

#stores.listView > div > img {
    display: none;
}
/*end list view */

#directoryMenu > div.backdrop {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonGroup {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.buttonGroup > button:hover {
    transform: scale(1.15);
    transition: transform 1s;
    text-shadow: 1px 1px 6px #0077B6;
}
.buttonGroup > button {
    transform: scale(1);
    transition: transform .5s;
}

/* thanks.html page */

#thanks {
    grid-column: 1 / 4;
    width: 100%;
    text-align: center;
    background-color: #023E8A;
}

#thanks img {
    padding: 20px;
    width: 100%;
    height: 100%;
}

#thanks h1 {
    font-size: 50px;
    color: #03045E;
    padding: 40px;
    position: absolute;
}

/* CONTACT PAGE */

#contactForm {
    background-color: #0077B6;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 25px 30px #03045E;
    border: 1px solid #023E8A;
    border-radius: 10px;
    margin: 15px 10px;
    padding: 10px;
}

#contactForm input{
    width: 100%;
}

#fondo {
    box-shadow: 15px 25px 30px #03045E;
    border: 1px solid #023E8A;
    border-radius: 10px;
    margin: 10px auto;
    grid-column: 2 / 3;
    background-color: #0077B6;
    width: 100%;
    padding: 10px;
}

#contact {
    box-shadow: 15px 25px 30px #03045E;
    border: 1px solid #023E8A;
    border-radius: 10px;
    grid-column: 1 / 2;
    text-align: center;
    background-color: #0077B6;
    margin: 5px;
    padding: 5px;
}

#contact h3, a {
    
    color: white;
}

/* FOOTER DESIGN */

footer {
    color: white;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 70% 20%;
}
#visited {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px 10px;
}

#visited p {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px 10px;
}
#picture {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
}
#picture img{
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#mapLocation {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    font-size: 20px;
}
#mapLocation img{
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#final {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 17px;
}
hr{
    line-height: 100%;
}