@media only screen and (min-width: 125px) and (max-width: 425px){
    /* NAV LARGE DESIGN */ 

    nav {
    margin: 0 auto;
    background: #023E8A;
    }
    .navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 12px;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(16px, 2vmin, 25px);
    }
    #menu::before {
        content: "≡";
        font-size: 32px;
    }
    .navigation a:hover, navigation a:active {
        color: #03045E;
        background-color: #0077B6;
    }
    .responsive li {
        display: block;
    }
    .responsive #menu::before {
        content: "≡";
    }

    /* LOGO AND H1 LARGE DESIGN */

    #head {
        display: flex;
        flex-direction: row;
    }
    #head img {
        margin-left: auto;
        width: 100%;
    }
    #head section h1{
        font-size: 32px;
        margin: 0;
    }
    #head section q {
        letter-spacing: 1.5pt;
        font-size: 14px;
    }
    #socialMedia {
        display: flex;
        flex-direction: column;
    }
    #socialMedia img {
        margin: auto;
        width: 100%;
    }

    /* MAIN LARGE DESIGN */
    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    #secondPart, #overall, #thirdPart  {
        grid-column: 1 / 2;
    }
    #hero {
        margin-bottom: 0;
    }

    /* FOOTER LARGE DESIGN */

    footer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 40% 20%;
        display: flex;
        flex-direction: column;
    }
    #picture {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        width: 90%;
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
    }
    #picture img{
        padding: auto;
        margin: 0 auto;
        border-radius: 50%;
        width: 90px;
        height: auto;
    }
    #mapLocation {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        width: 90%;
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
    }
    #mapLocation img {
        margin: 0 auto;
    }
    #final {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        display: flex;
        width: 90%;
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
    }

}