@media only screen and (min-width: 426px) and (max-width: 940px) {
    
    /* NAV MEDIUM DESIGN */ 

    nav {
    margin: 0 auto;
    }
    .navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 12px;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(16px, 2vmin, 25px);
    }
    #menu::before {
        content: "≡";
        font-size: 32px;
    }
    .navigation a:hover, navigation a:active {
        color: #03045E;
        background-color: #0077B6;
    }
    .responsive li {
        display: block;
    }
    .responsive #menu::before {
        content: "≡";
    }
    .alert {
        display: none;
    }

    /* MAIN LARGE DESIGN */

    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #overall {
        grid-column: 1 / 3;
    }
    #secondPart {
        grid-column: 1 / 3;
    }
    #thirdPart {
        grid-column: 1 / 3;
    }

    /* CSS MEDIUM DISCOVER PAGE */
    #discover {
        background-color: #0077B6;
        grid-column: 1 / 3;
    }
}