html {
    background-color: #0077B6;
    font-family: 'Courier New', Courier, monospace;
    
}
body, main {
    display: flex;
    align-items: center;
    max-width: 50%;
    flex-direction: column;
    margin: 10px auto;
    box-shadow: 15px 15px 30px #03045E;
    background-color: #023E8A;
}
h1, h2{
    color: white;
}
