@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text&display=swap');

html {
    background-color: #023E8A;
    font-family: 'Crimson Text', serif;
}

body {
    margin: 50px auto;
    max-width: 600px;    
    text-align: center;
    padding: 10px;
    background-color: #0077B6;
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
}



